
<%= bootstrap_form_for [@project, @script] do |form| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        Edit Job Setting
      </div>

      <div class="panel-body", role="main">
        <%= form.text_field :name, required: true %> 

        <%= form.text_field :frames,
          required: true, placeholder: '1-100',
          pattern: '\d+-\d+', help: "Must be in the form startframe-endframe" %>

        <%= form.text_field :camera, required: false, placeholder: 'camera1' %>

        <%= form.select :file, @project.scenes, required: true %>

        <%= form.text_field :accounting_id, required: true, label: 'Chargeback project',
          help: 'the project to charge to',
          placeholder: 'PZS0714' %>

        <!-- hidden cluster field becuase of #17. We're only initially supporting one cluster, which is the
        default cluster. -->
        <%= form.hidden_field :cluster, value: @script.cluster %>

        <%= form.number_field :nodes, required: true, min: 1 %>

        <%= form.select :renderer, @script.renderers, required: true %>

        <%= form.text_field :extra, required: false,
            label: 'Additional command line options',
            placeholder: '-verb -b 1 -ai:lve 0',
            help: ("#{link_to 'Help Docs', 'https://github.com/OSC/frame-renderer#Additional-Options'}").html_safe %>

        <%= form.number_field :walltime, required: true, help: 'hours this job will be scheduled for', min: 1 %>

        <%= form.check_box :email, label: 'Email when finished' %>

        <%= form.check_box :skip_existing, label: 'Do not render existing frames' %>

      </div> <!-- main panel body -->
    </div> <!-- outer panel -->


  <p>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= form.button 'Reset', type: :reset, class: 'btn btn-default' %>
    <%= link_to 'Back', project_path(@project), class: 'btn btn-default' %>
  <p>

<% end %>

