
<%= bootstrap_form_for [@project, @script], :html => { :onsubmit => "return validateScript()" }  do |form| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        Edit Job Setting
      </div>

      <div class="panel-body", role="main">
        <%= form.text_field :name, required: true %> 
        <%= form.text_field :frames, required: true, placeholder: '1-100' %>
        <%= form.text_field :camera, required: true, placeholder: 'camera1' %>
        <%= form.select :file, @project.scenes, required: true %>
        
        <%= form.text_field :accounting_id, required: false, label: 'Chargeback project',
          help: 'only specify if you\'re in multiple chargeback projects',
          placeholder: 'PZS0714' %>

        <!-- hidden cluster field becuase of #17. We're only initially supporting one cluster, which is the
        default cluster. -->
        <%= form.hidden_field :cluster, value: Script.default_cluster %>

        <%= form.number_field :nodes, required: true %> 
        <%= form.select :renderer, 
          ['arnold','default','file','hw2','hw','interBatch','sw','turtle','turtlebake','vr'], required: true %>
        <%= form.text_field :extra, required: false,
            label: 'Additional command line options',
            placeholder: '-verb -b 1 -ai:lve 0',
            help: ("#{link_to 'Help Docs', 'https://github.com/OSC/frame-renderer#Additional-Options'}").html_safe %>
        <%= form.number_field :walltime, required: true, help: 'hours this job will be scheduled for' %>
        <%= form.check_box :email, label: 'Email when finished' %>
        <%= form.check_box :skip_existing, label: 'Do not render existing .exr files' %>
        
      </div>

    </div>


  <p>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= form.button 'Reset', type: :reset, class: 'btn btn-default' %>
    <%= link_to 'Back', project_path(@project), class: 'btn btn-default' %>
  <p>

<% end %>

