
<%= bootstrap_form_for [@project, @submission] do |form| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        New Job Submission
      </div>

      <div class="panel-body", role="main">
        <%= form.text_field :name, required: true %> 
        <%= form.text_field :frames, required: true %>
        <%= form.text_field :camera, required: true %> 
        <%= form.select :file, list_scenes(@project.directory), required: true %>
        
        
        <%= form.select :cluster, OODClusters.map { |cluster| [ "#{cluster.metadata.title}", cluster.id ] }, 
            { label: "Cluster:", required: true }, { class: "selectpicker", id: "batch_host_select" } %>

        
          <%= form.select :renderer, 
            ['arnold','default','file','hw2','hw','interBatch','sw','turtle','turtlebake','vr'], required: true %>
          <%= form.text_field :extra, required: false %>
          <%= form.number_field :scheduled_hrs, required: true, help: 'hours this job will be scheduled for' %>
          <%= form.check_box :email %>
          <%= form.check_box :skip_existing %>
        
      </div>

    </div>


  <p>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= form.button 'Reset', type: :reset, class: 'btn btn-default' %>
    <%= link_to 'Back', project_path(@project), class: 'btn btn-default' %>
  <p>

<% end %>

