<%= bootstrap_form_for @project do |form| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      Project Details
    </div>

    <div class="panel-body", role="main">
      <%= form.select :project_type, ['Maya', 'VRay'], required: true %>
      <%= form.text_field :name, label: 'name', required: true %>
      <%= form.text_area :description, label: 'description' %>
      <%= form.text_field :directory,
        label: 'directory', 'data-filepicker': 'true',
        'data-target_file_type': 'dirs' %>
    </div>
  </div>

  <p>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= form.button 'Reset', type: :reset, class: 'btn btn-default' %>
    <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
  <p>

<% end %>

