<div class="page-header" >
  <h2><%= @project.name %></h2>
  <p><%= @project.description %></p>
  <p>location: <%= @project.directory %></p>
</div>

<script>pollSubmissions('<%= @project.id %>')</script>
<input type="hidden" id="project-dir-lookup" value=<%= @project.directory %>>

<%= link_to 'Back', projects_path, class: "btn btn-info" %><br><br>

<div>
  <div class="btn-group open">
    <%= button_to 'Edit', 
      edit_project_path(@project),
      method: :get,
      class: "btn btn-primary",
      id: "edit_project_button"
    %>
  </div>
</div>
<br>

<div>
  <%= link_to "Open in File Explorer", OodAppkit.files.url(path: @project.directory).to_s, 
    class: 'btn btn-primary btn-sm', :target => '_blank' %>
</div>
<br><br>

<div id="script-list-view" class="panel panel-default">
  <div class="panel-body" >
    <table id="script-list-table" class="table data-table" >
      <thead>
        <tr> 
          <th>Name</th>
          <th>Frames</th>
          <th>File</th>
          <th>Job Id</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @project.scripts.each do |script| %>
          <tr class="script-row" >

            <td><%= script.name %></td>
            <td><%= script.frames %></td>
            <td><%= File.basename(script.file) %></td>
            <td><div id="script-<%= script.id %>-job-id"><%= script.latest_job_id %></div></td>

            <td id="status_label_<%= script.id %>">
              <%= status_label(script.latest_status, script.id) %>
            </td>
            <td>
                <%= link_to "Submit", project_script_submit_path(@project, script), :method => :put, 
                    class: 'btn btn-success btn-sm', id: "submit-button-" + script.id.to_s %>
                <%= link_to "Stop", project_script_stop_job_path(@project, script, script.latest_id), 
                    :method => :delete, class: 'btn btn-danger btn-sm disabled', id: "stop-button-" + script.id.to_s, disabled: "disabled" %>
                <%= link_to "Edit", edit_project_script_path(@project, script), :method => :get, class: 'btn btn-info btn-sm'%>
                <%= link_to "Delete", project_script_path(@project, script), 
                      :method => :delete, class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure?"} %>

                <%= link_to "View Previous Jobs", project_script_path(@project, script), :method => :get, class: 'btn btn-primary btn-sm'%>
                
            </td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>


<div class="btn-group open">
  <%= button_to 'New Job Settings', 
    new_project_script_path(@project),
    method: :get,
    class: "btn btn-primary",
    id: "script_edit_button"
  %>
</div>

<br><br>

<div id="thumbnail-list-view" class="panel panel-default">
  <div class="panel-body" >
    <table id="thumbnail-list-table" class="table data-table" >
      <thead>
        <tr>
          <th>File</th>
          <th>Image</th>
        </tr>
      </thead>
          <%= %>
      <tbody>
        <% thumbnails(@project.directory).each do |thumbnail| %>
          <tr>
            <td>
            <%= link_to(
                File.basename(thumbnail, '.png') + '.exr',
                "/pun/sys/files/api/v1/fs" + thumbnail_to_exr(@project.directory, thumbnail) + '?download=1'
                )%>
            <td>
              <img class="d-block w-100 thumbnail-zoom" src="/pun/sys/files/api/v1/fs<%= thumbnail %>"
                onClick="window.open(this.src)"
              >
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <div>
</div>