<div class="page-header" >
  <h2><%= @project.name %></h2>
  <p><%= @project.description %></p>
  <p>location: <%= @project.directory %></p>
</div>

<script>pollSubmissions('<%= @project.id %>')</script>

<%= link_to 'Back', projects_path, class: "btn btn-info" %><br><br>

<div>
  <div class="btn-group open">
    <%= button_to 'Edit', 
      edit_project_path(@project),
      method: :get,
      class: "btn btn-primary",
      id: "edit_project_button"
    %>
  </div>
</div>
<br>

<div>
  <%= link_to "Open in File Editor", OodAppkit.files.url(path: @project.directory).to_s, 
    class: 'btn btn-primary btn-sm', :target => '_blank' %>
</div>
<br><br>

<div id="submission-list-view" class="panel panel-default">
  <div class="panel-body" >
    <table id="submission-list-table" class="table data-table" >
      <thead>
        <tr> 
          <th>Name</th>
          <th>Frames</th>
          <th>File</th>
          <th>Job Id</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @project.submissions.each do |submission| %>
          <tr class="submission-row" >

            <td><%= submission.name %></td>
            <td><%= submission.frames %></td>
            <td><%= File.basename(submission.file) %></td>
            <td id="submission-<%= submission.id %>-job-id" ><%= submission.latest_job_id %></td>

            <td id="status_label_<%= submission.id %>">
              <%= status_label(submission.latest_status, submission.id) %>
            </td>
            <td>
                <%= link_to "Submit", project_submission_submit_path(@project, submission), :method => :put, class: 'btn btn-success btn-sm'%>
                <%= link_to "Edit", edit_project_submission_path(@project, submission), :method => :get, class: 'btn btn-info btn-sm'%>
                <%= link_to "Delete", project_submission_path(@project, submission), 
                      :method => :delete, class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure?"} %>

                <%= link_to "View Submissions", project_submission_path(@project, submission), :method => :get, class: 'btn btn-primary btn-sm'%>
                
            </td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>


<div class="btn-group open">
  <%= button_to 'New Submission', 
    new_project_submission_path(@project),
    method: :get,
    class: "btn btn-primary",
    id: "submission_edit_button"
  %>
</div>

<br><br>

<div id="thumbnail-list-view" class="panel panel-default">
  <div class="panel-body" >
    <table id="thumbnail-list-table" class="table data-table" >
      <thead>
        <tr>
          <th>File</th>
          <th>Image</th>
        </tr>
      </thead>
          <%= %>
      <tbody>
        <% thumbnails(@project.directory).each do |thumbnail| %>
          <tr>
            <td><%= File.basename(thumbnail) %></td>
            <td>
              <img class="d-block w-100" src="/pun/sys/files/api/v1/fs<%= thumbnail %>"
              >
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <div>
</div>